@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: flex;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.text-gradient {
  text-decoration: none;
  background: linear-gradient(90deg, hsl(90, 100%, 44%), hsl(101, 100%, 35%), hsl(120, 100%, 22%));
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
}

h2 {
  margin-top: 1.3em;
}

.text-gradient-reverse {
  margin-top: 15px;
  text-decoration: none;
  background: linear-gradient(90deg, hsl(148, 100%, 15%), hsl(120, 100%, 22%), hsl(75, 100%, 60%));
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-reverse:hover {
  animation: move-bg 4s linear infinite alternate-reverse;
}

@keyframes move-bg {
  to {
    background-position: 200% center;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    margin: 0;
    background: url('../assets/CircuitPrimary.svg');
    background-color: #2f2f2f;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
  }

  #app {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
  }
}
